@model PWO.Client.Models.Items.ToDoListItemReadDto

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
    </dl>
</div>
<div class="buttons-options">
    @if (!Model.IsCompleted)
    {
    @Html.ActionLink("Mark as completed", "Edit", new { id = Model.Id, listId = Model.listId }, new { @class = "btn btn-success" })
    }
    @Html.ActionLink("Back", "Details", "ToDoList", new { id = Model.listId}, new { @class = "btn btn-secondary" })
</div>